/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

/******************************************************************
CUSTOMIZED RESET VALUES
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}

html,
body {

}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #000;
  background: #fff;
  
}

body * {
	-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
}


.header,
#content,
.footer {
	width: 90%;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
}

.nav li,
.socs li {
	position: relative;
	display: inline-block;
}

.nav li a,
.socs li a {
	background-color: rgba(0, 0, 0, .35);
	margin-right: 10px;
	padding: 2px 20px;
	text-transform: uppercase;
	font-size: 12px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.copyright {
	font-size: 12px;
	color: #aaa;
}

.copyright span {
	content: ' ';
	width: 30px;
	display: inline-block;
}

.home .byline,
.home .byline a {
	font-size: 0;
	font-weight: 300;
	color: #575759;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	text-indent: -9000em;

}



#logo,
#slogan {
	font-size: 124px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 1em;
	display: block;
	
	opacity: 0;
	
	color: #bb3825;
}

.loaded #logo,
.loaded #slogan {
	opacity: 1;
}

#logo span {
	display: block;
	clear: both;
	font-size:0;
	line-height: 0;

}
#slogan {
	display: block;
	clear: both;
	font-size: 16px;
	color: #2455c3;
}

.row {
	margin-left: -2.3%;
	margin-bottom: 20px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.thirds {
	width: 31%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 2.3%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	opacity: 0;
}

.row-2 .thirds {
	background-color: #f0f0f0;
}

.loaded .thirds {
	opacity: 1;
}

.loaded .github {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.3s;
}

.loaded .downloads {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.6s;
}
.loaded .follow {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.9s;
}

.btn {
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
	padding: 7%;
	
	font-size: 23px;
	
	background: #666;	
}

.download {
	background-color: #000;
}

.btn:hover {
	color: #fff;
	background: #666;	
}

.article {
	padding: 10px;
}

.article h3 {
	font-size: 39px;
	font-weight: normal;
	line-height: 1.1em;
	
}

.inv {
	display: block;
	width: 0;
	height: 0;
	text-indent: -9000em;
	font-size: 0;
	line-height: 0;
	
}

.github,
.downloads,
.follow{

}

.header .socs {
	display: block;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	text-indent: -9000em;
}

.header iframe {
	position: absolute;
	right: 0;
	top: 20px;
}


h1,
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
	font-family: League Gothic;
}

a {
	color: #fff;
	text-decoration: none;
}














@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.less styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  
  }
  .menu ul {
    /* end .menu ul li */
  
    /* highlight current page */
  
    /* end current highlighters */
  
  }
  .menu ul li {
    /*
  				plan your menus and drop-downs wisely.
  				*/
  
  }
  .menu ul li a {
    /*
  					you can use hover styles here even though this size
  					has the possibility of being a mobile device.
  					*/
  
  }
  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.less stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px;
  }
  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    background: #eee;
    border: 0;
    /* end .menu ul li */
  
    /* highlight current page */
  
    /* end current highlighters */
  
  }
  .nav li {
    float: left;
    position: relative;
    /*
  		plan your menus and drop-downs wisely.
  		*/
  
    /* showing sub-menus */
  
  }
  .nav li a {
    border-bottom: 0;
    /*
  			you can use hover styles here even though this size
  			has the possibility of being a mobile device.
  			*/
  
  }
  .nav li a:hover,
  .nav li a:focus {
    background-color: #dedede;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
  				if you need to go deeper, go nuts
  				just remember deeper menus suck
  				for usability. k, bai.
  				*/
  
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    display: block;
  }
  /* end .nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
  			be careful with the depth of your menus.
  			it's very rare to have multi-depth menus in
  			the footer.
  			*/
  
  }
  /* end .footer-links */
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}
/*
PRINT STYLESHEET
*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}