/******************************************************************
Site Name:
Author:
******************************************************************/

/******************************************************************
CUSTOMIZED RESET VALUES
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}

html,
body {

}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #000;
  background: #fff;
  
}

body * {
	-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
}

.header,
#content,
.footer {
	width: 90%;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
}

.nav li,
.socs li {
	position: relative;
	display: inline-block;
}

.nav li a,
.socs li a {
	background-color: rgba(0, 0, 0, .35);
	margin-right: 10px;
	padding: 2px 20px;
	text-transform: uppercase;
	font-size: 12px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.copyright {
	font-size: 12px;
	color: #aaa;
}

.copyright span {
	content: ' ';
	width: 30px;
	display: inline-block;
}

.home .byline,
.home .byline a {
	font-size: 0;
	font-weight: 300;
	color: #575759;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	text-indent: -9000em;

}
#logo,
#slogan {
	font-size: 124px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 1em;
	display: block;
	
	opacity: 0;
	
	color: #bb3825;
}

.loaded #logo,
.loaded #slogan {
	opacity: 1;
}

#logo span {
	display: block;
	clear: both;
	font-size:0;
	line-height: 0;

}
#slogan {
	display: block;
	clear: both;
	font-size: 16px;
	color: #2455c3;
}

.row {
	margin-left: -2.3%;
	margin-bottom: 20px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.thirds {
	width: 31%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 2.3%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	opacity: 0;
}

.row-2 .thirds {
	background-color: #f0f0f0;
}

.loaded .thirds {
	opacity: 1;
}

.loaded .github {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.3s;
}

.loaded .downloads {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.6s;
}
.loaded .follow {
	transition-property: opacity;
	  transition-duration: .8s;
	  transition-delay: 0.9s;
}

.btn {
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
	padding: 7%;
	
	font-size: 23px;
	
	background: #666;	
}

.download {
	background-color: #000;
}

.btn:hover {
	color: #fff;
	background: #666;	
}

.article {
	padding: 10px;
}

.article h3 {
	font-size: 39px;
	font-weight: normal;
	line-height: 1.1em;
	
}

.inv {
	display: block;
	width: 0;
	height: 0;
	text-indent: -9000em;
	font-size: 0;
	line-height: 0;
	
}

.github,
.downloads,
.follow{

}

.header .socs {
	display: block;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	text-indent: -9000em;
}

.header iframe {
	position: absolute;
	right: 0;
	top: 20px;
}


h1,
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
	font-family: League Gothic;
}

a {
	color: #fff;
	text-decoration: none;
}

